
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1><a href="">Click Here To List A Puppy</a></h1>
    <form method="post" action="/">
    <input type="text" name="name">
    <input type="text" name"breed">
    <input type="text" name="age">
    <input type="submit" id="Submit">
   </body>
  </body>
</html>
